<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="/app/log" />
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%level][%thread][%logger]
				-%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/miniHr.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/miniHr.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<MaxHistory>30</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>30MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%level][%thread][%logger]
				-%msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="sqlFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/miniHr-sql.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/miniHr-sql.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<maxHistory>20</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>30MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}][%level][%thread][%logger] -%msg%n</pattern>
		</encoder>
	</appender>
	
	<logger name="jdbc.sqltiming" level="OFF" additivity="false">
		<appender-ref ref="sqlFile" />
	</logger>
	<logger name="jdbc.connection" level="OFF"></logger>
	<logger name="jdbc.sqlonly" level="OFF"></logger>
	<logger name="jdbc.audit" level="OFF"></logger>
	<logger name="jdbc.resultset" level="OFF"></logger>
	<logger name="jdbc.resultsettable" level="OFF" />
	
	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
</configuration>